<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.lmu.treeapp">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="18"/>


    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher_rec_new"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_new"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activities.minigames.chooseAnswer.GameActivity_ChooseAnswer" android:parentActivityName="activities.GameSelectionActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="activities.MainActivity" />
        </activity>
        <activity android:name=".activities.minigames.inputString.GameActivity_InputString" android:parentActivityName="activities.GameSelectionActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="activities.MainActivity" />
        </activity>
        <activity android:name=".activities.minigames.takePicture.GameActivity_TakePicture" android:parentActivityName="activities.GameSelectionActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="activities.MainActivity" />
        </activity>
        <activity android:name=".activities.minigames.dragDrop.GameActivity_DragDrop" android:parentActivityName="activities.GameSelectionActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="activities.MainActivity" />
        </activity>
        <activity android:name=".activities.minigames.onlyDescription.GameActivity_OnlyDescription" android:parentActivityName="activities.GameSelectionActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="activities.MainActivity" />
        </activity>
        <activity android:name=".activities.minigames.baumory.GameActivity_Baumory" android:parentActivityName="activities.GameSelectionActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="activities.MainActivity" />
        </activity>
        <activity android:name=".activities.GameSelectionActivity" android:parentActivityName="activities.MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="activities.MainActivity" />
        </activity>
        <activity android:name=".activities.MainActivity" android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.BarcodeCaptureActivity" android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".activities.WantedPosterDetailsActivity" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="de.lmu.treeapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
    </application>

</manifest>