<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.lmu.treeapp">

    <!-- Since API level 30, there have been changes in the package visibility.
    Link: https://developer.android.com/about/versions/11/privacy/package-visibility -->
    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher_rec_new"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_new"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning,LockedOrientationActivity">

        <activity
            android:name=".activities.minigames.chooseAnswer.GameActivity_ChooseAnswer"
            android:parentActivityName="activities.GameSelectionActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.minigames.inputString.GameActivity_InputString"
            android:parentActivityName="activities.GameSelectionActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.minigames.orderWords.GameActivity_OrderWords"
            android:parentActivityName="activities.GameSelectionActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.minigames.puzzle.GameActivity_Puzzle"
            android:parentActivityName="activities.GameSelectionActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.minigames.description.GameActivity_Description"
            android:parentActivityName="activities.GameSelectionActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.minigames.takePicture.GameActivity_TakePicture"
            android:parentActivityName="activities.GameSelectionActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.minigames.dragDrop.GameActivity_DragDrop"
            android:parentActivityName="activities.GameSelectionActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.minigames.contour.GameActivity_Contour"
            android:parentActivityName="activities.GameSelectionActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="activities.MainActivity" />
        </activity>
        <activity
                android:name=".activities.minigames.leafOrder.GameActivity_LeafOrder"
                android:parentActivityName="activities.GameSelectionActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.minigames.onlyDescription.GameActivity_OnlyDescription"
            android:parentActivityName="activities.GameSelectionActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.minigames.baumory.GameActivity_Baumory"
            android:parentActivityName="activities.GameSelectionActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.minigames.catchFruits.GameActivity_CatchFruits"
            android:parentActivityName="activities.GameSelectionActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.GameSelectionActivity"
            android:parentActivityName="activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SplashScreen"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.Imprint"
            android:parentActivityName="activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.BarcodeCaptureActivity"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity android:name=".wantedPoster.activity.WantedPosterTreeActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="de.lmu.treeapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>